/**
*** NB: Takes on properties also from ./../chips/chips.scss via styleUrls declaration
**/
.weather-chip {

  &__mat-chip {
    align-items: center;

    column-gap: 8px;
  }

  &__icon {
    inline-size: 24px;
    block-size: 24px;
    object-fit: contain;
  }
}
