<mat-chip class="weather-chip__mat-chip"
          aria-label="Weather summary"
          [width]="matChipWidth" [height]="'100%'">
  @if (iconUrl) {
    <img
      class="weather-chip__icon"
      [src]="iconUrl"
      [alt]="'Weather icon code ' + conditionCode"
      loading="lazy"
      width="24"
      height="24"
      (load)="onImageLoad()"
      (error)="onImageError()"
    />
  }

  <!--Test digit: '49'-->
  <span class="weather-chip__text">{{ temperatureCelsius }}°C</span>
</mat-chip>
