:host(.date-chip), :host(.weather-chip) {
  font-size: 12px; // Affects *__text em values, effect of change on RWD should be checked
}

.date-chip, .weather-chip {

  &__mat-chip {
    padding: 8px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: inset 0 0 0 1px #e7e3e3;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text {
    font-weight: 600;
    font-size: clamp(0.4em, 1.2vw, 1em); // Fallback in case @container-type not supported
    letter-spacing: 0.15em;
    color: #1f2937;
    text-transform: uppercase;

    -webkit-user-select: none; // Safari
    user-select: none;

    display: flex;
    align-items: center;
  }
}

/// Container-query font scaling helper
/// @param {Length} $start - Lower bound (inclusive)
/// @param {Length} $end - Upper bound (exclusive)
/// @param {Length} $font-size - Font size to apply
@mixin container-font-size(
  $start,
  $end,
  $font-size
) {
  @container infoChipsContainer (inline-size >= #{$start}) and (inline-size < #{$end}) {
    .date-chip__text,
    .weather-chip__text {
      font-size: $font-size;
    }
  }
}

// Enhance text representation if container queries exist
@supports (container-type: inline-size) {
  :host(.date-chip),
  :host(.weather-chip) {
    container-type: inline-size;
    container-name: infoChipsContainer;
  }

  //region infoChipsContainer queries matches
  @container infoChipsContainer (inline-size < 70px) {
    .date-chip__text,
    .weather-chip__text {
      font-size: 0.35em;
    }
  }

  @include container-font-size(71px, 110px, 0.72em);

  @include container-font-size(110px, 160px, 1.2em);

  @include container-font-size(160px, 210px, 1.6em);

  @include container-font-size(210px, 280px, 2.2em);

  @include container-font-size(280px, 380px, 2.8em);

  @include container-font-size(380px, 540px, 3.8em);

  @container infoChipsContainer (inline-size >= 540px) {
    .date-chip__text,
    .weather-chip__text {
      font-size: 5em;
    }
  }
  //endregion

}
