.clock-hand {
  display: grid;
  place-items: center;
  pointer-events: none;

  &__img {
    width: 100%;
    height: 100%;

    transform-origin: center;
    will-change: transform;
    filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.18));
  }
}
