:host(.clock-face) {
  //region For testing and device-ing RWD on chips text, COMMENT IN PROD
  //height: unset !important;
  //width: 100vw !important;
  //aspect-ratio: 1 / 1 !important;
  //endregion
}

.clock-face {

  &__svg {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 120%;
    height: 120%;

    background: url('/assets/clock_face.svg') center/contain no-repeat;
    border-radius: 50%;
    overflow: hidden;

    opacity: 0;
    transition-duration: 300ms;
    transition-property: opacity;
    transition-timing-function: ease-in;
    transition-delay: 150ms;

    &--is-loaded {
      opacity: 1;
    }
  }

  &__hands-chips-wrapper {
    display: grid;
    place-items: center;
    position: relative;
    width: 100%;
    height: 100%;
  }



  &__chips-wrapper {
    position: relative;
    width: 40%;
    height: 64%;
    z-index: 10;
  }

  &__chips-animation {
    opacity: 1;
    transition-duration: 400ms;
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    transition-delay: 250ms;

    display: flex;
    justify-content: center;

    &--hidden {
      opacity: 0;
    }
  }
}


.clock-hand {
  position: absolute;

  &__seconds {
    z-index: 10; // to make sure it's on top of the other hands
  }
}


.weather-chip, .date-chip {
  position: absolute;
  height: 17%;
}

.weather-chip {
  bottom: 0;
  left: 17%; // Half + half + what is used for width
  width: 66%;
}

.date-chip {
  top: 0;
  width: 100%;
}

.u-fill {
  width: 100%;
  height: 100%;
}
