html,
body {
  height: 100%;
  margin: 0;
}


body {
  color: #0f172a;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background-color: #ffffff;
}
