html,
body {
  height: 100%;
  margin: 0;
}


body {
  color: #0f172a;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background-color: #ffffff;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

.u-fill {
  width: 100%;
  height: 100%;
}

.u-user-select--none {
  -webkit-user-select: none; // Safari
  user-select: none;
}
