.date-chip {
  padding: 8px 12px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: inset 0 0 0 1px #e7e3e3;

  display: flex;
  justify-content: center;

  &__text {
    font-weight: 600;
    letter-spacing: 0.15rem;
    color: #1f2937;
    font-size: 0.6rem;
    text-transform: uppercase;

    -webkit-user-select: none; // Safari
    user-select: none;

    display: flex;
    align-items: center;
  }
}
